*{
    margin: 0px;
    padding: 0px;
}
.header{
    background-image: url(photos/spaghetti.jpg);
    background-size: cover;
    height: 850px;
}
.logo{
    color: white;
    padding-left: 5%;
    font-family: 'Oleo Script Swash Caps';
    font-size: 25px;
    
}
#hd{
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
    
}
 nav ul{
     padding-right: 80px;
 }
nav ul li {
    font-size: 20px;
    display: inline-block;
    margin-right: 40px;
    padding-left: 0px;
    font-family: Arial, Helvetica, sans-serif;

}
nav ul li a{
    text-decoration: none;
    color: white;
}
.delf{
    text-align: center;
    color: white;
    padding-top: 10%;
}
.delf h1{
    font-family: 'Oleo Script Swash Caps';
    font-size: 70px;
    
}
.delf p{
    line-height: 25px;
    font-size: 20px;
    padding-top: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.btn1{
    margin-top: 15px;
    font-size: 18px;
    color: white;
    background-color: #E16520;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 25px 25px 25px 25px;
    border: none;

}
.abt{
    display: flex;
    justify-content: space-evenly;
    margin-left: -2%;
    margin-top: 10%;
    margin-bottom: 7%;
}
#images{
    display: flex;
    /* padding-top: */
}
#mini-image{
    display: flex;
    flex-direction:column;
    padding-left: 2%;
}
#min-mg{
    padding-bottom: 5%;
}
.about{
    padding-top: 7%;
    line-height: 24px;
}
.about h1{
    padding-bottom: 12%;
    font-family: 'Oleo Script Swash Caps';
    font-weight: 400;
}
.about h1::after{
    content: '';
    background: #E16520;
    display: block;
    height: 1px;
    margin-top: 15px;
    width: 70px;

}
.p{
    padding-top: 30px;
    line-height: 24px;
}
.btn-2{
    padding: 15px 20px;
    margin-top: 6%;
    font-size: 18px;
    color: white;
    background-color: #E16520;
    height: 50px;
    border-radius: 25px 25px 25px 25px;
    border: none;
    
}
.menu-sect{
    background-color: ghostwhite;
}
.ourm{
    text-align: center;
    padding-bottom: 5%;
    padding-top: 10%;
}
.ourm h1{
    font-size: 40px;
    padding-bottom: 2%;
    font-family: 'Oleo Script Swash Caps';
    font-weight: 500;
   
}
.ourm p{
    line-height: 30px;
    font-size: 20px;
}
.ourm p::after{
    content: '';
    background: #E16520;
    display: block;
    height: 3px;
    margin: auto;
    margin-top: 15px;
    width: 150px;
}
 
.mnu{
    background-color: white;
    width: 300px;
    margin-top: 2%;
}
#left{
    padding-left: 5%;
    padding-top: 3%;
    color: #E16520;
    
}
.mnu h3{
    padding-left: 5%;
    padding-top: 3%;
}
.pr{
    margin-left: 40%;
    
}
.btn{
    background-color: #E16520;
    color: white;
    font-size: 14px;
    border: none;
    padding-left: 5px;
    padding-right: 5px;
}
#pp{
    padding-left: 5%;
    padding-top: 3%;
    line-height: 25px;
}
#btn3{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    border-radius: 15px 15px 15px 15px;
    border: none;
    color: #E16520;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 15px;
    /* background-color:; */
    
}
.mnsect{
    display: flex;
    justify-content: space-evenly;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: -2%;
    flex-wrap: wrap;
}
.buttn{
    margin-top: 3%;
    font-size: 15px;
    padding-left: 15px;   
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5%;
    color: white;
    background-color: #E16520;
    border: none;
    border-radius: 25px 25px 25px 25px;
}
.choose-us{
    text-align: center;
    padding-top: 7%;
    padding-bottom: 5%;
}
.choose-us h1{
    padding-bottom: 1%;
    font-size: 50px;
    font-family: 'Oleo Script Swash Caps';
    font-weight: 400;
}
.choose-us p{
    line-height: 27px;
    font-size: 20px;
}
.choose-us p::after{
    content: '';
    background: #E16520;
    display: block;
    margin: auto;
    height: 3px;
    margin-top: 15px;
    width: 150px;
}

.service{
    width: 400px;
    margin-bottom: 4%;
    
}
.service p{
    text-align: center;
    
}
.service h2{
    text-align: center;
    padding-bottom: 3%;
    font-size: 25px;
    font-family: 'Oleo Script Swash Caps';
    font-weight: 400;
}
#ppp{
    padding: px;
    font-size: 18px;
    line-height: 25px;
}
.serv{
    display: flex;
    flex-wrap: wrap;
     padding-left: 10%;
     padding-right: 10%;
     justify-content: space-evenly;

}
.listen{
    background-image: url(photos/image.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    width: 100%;
}
.lisus{
   text-align: center;
   padding-top: 5%;
   padding-bottom: 2%;
    
}
.lisus h1{
    padding-bottom: 30px;
    font-family: 'Oleo Script Swash Caps';
    color: white;
    font-size: 40px;
    font-weight: 400;
}
.lisus p{
    line-height: 30px;
    font-size: 24px;
    color: white;

}
.line::after{
    content: '';
    background: #E16520;
    display: block;
    margin: auto;
    height: 4px;
    margin-top: 20px;
    width: 180px; 
    margin-bottom: 3%;
}
.cust{
    
    width: 400px;
    height: 500px;
    background-color: white;

}
.cust p{
    text-align: center;
    padding-top: 20%;
}
#cutomer{
    text-align: center;
    padding-top: 5%;
    line-height: 30px;
    font-size: 20px;

}
#right{
    padding-top: 5%;
    color: #E16520;
}
.cust h2{
    text-align: center;
    padding-top: 5%;
    font-family: 'Oleo Script Swash Caps';
    font-weight: 400;
}
 .customers{
     display: flex;
     justify-content: space-evenly;
     padding-right: 10%;
     padding-left: 10%;
 }
 .table{
     text-align: center;
     padding-top: 5%;
 }
 .table h1{
     font-size: 50px;
     padding-bottom: 15px;
     font-family: 'Oleo Script Swash Caps';
     font-weight: 400;

 }
 .table p{
     font-size: 20px;
     line-height: 30px;

 }
 .table p::after{
    content: '';
    background: #E16520;
    display: block;
    margin: auto;
    height: 4px;
    margin-top: 20px;
    width: 180px; 
    margin-bottom: 3%;
}
.bform{
    text-align: center;
}
#yourname{
    height: 50px;
    width: 70%;
    margin-bottom: 30px;
    background-color: #c4c4c2;
    border: none;
}
#youremail{
    height: 50px;
    width: 70%;
    background-color: #c4c4c2;
    border: none;
 }
.fmrow{
    font-size: 24px;
    margin-top: 30px;
    
}
#phone{
    height: 50px;
    width: 38%;
    margin-right: 30px;
    background-color: #c4c4c2;
    border: none;
}
#nf-persons{
    height: 50px;
    width: 30%;
    background-color: #c4c4c2;
    border: none;
}
#date{
    height: 50px;
    width: 38%;
    margin-right: 30px;
    background-color: #c4c4c2;
    border: none;
}
#time{
    height: 50px;
    width: 30%;
    background-color: #c4c4c2;
    border: none;
}
.ndfmrw{
    font-size: 24px;
    margin-top: 30px;
    
}
#msg{
    height: 200px;
    width: 70%;
    margin-top: 30px; 
    background-color: #c4c4c2;
    border: none;
}
#table{
    margin-top: 2%;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 25px 25px 25px 25px;
    background-color: #E16520;
    color: white;
    border: none;
}




